<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxer.rpack.hook">

<!--    <permission-->
<!--        android:name="com.yxer.rpack.hook.read"-->
<!--        android:label="provider pomission"-->
<!--        android:protectionLevel="normal" />-->


<!--    <permission-->
<!--        android:name="com.yxer.rpack.hook.write"-->
<!--        android:label="provider pomission"-->
<!--        android:protectionLevel="normal" />-->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPackageRepository">


<!--        <activity-->
<!--            android:name=".AA"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->



        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="R-安装组件 扩展模块" />

<!--        82-->
        <meta-data android:name="xposedminversion" android:value="82" />
<!--        <meta-data android:name="xposedsharedprefs" android:value="true" />-->

        <meta-data android:name="xposedscope" android:resource="@array/scopes" />



<!--        android:multiprocess="false"-->
<!--        android:grantUriPermissions="true"-->
<!--        <provider-->
<!--            android:name=".ROProvider"-->
<!--            android:authorities="${applicationId}.providerss"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="com.yxer.rpack.hook.permission.all"-->
<!--            android:readPermission="com.yxer.rpack.hook.read"-->
<!--            android:writePermission="com.yxer.rpack.hook.write" />-->

</application>

</manifest>